/**
 * add
 */
.text-slogan {
  h4 {
    font-size: 90px;
    font-weight: bold;
    line-height: .7;

    position: relative;

    text-align: left;
  }
}
.text-slogan span {
  display: block;
}
.text-slogan .text-slogan__top {
  font-size: 42px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: blue;
}
.text-slogan .text-slogan__bottom {
  font-size: 35px;
}

.footer-first-block {
  position: relative;
  &:before {
    position: absolute;
    top: 215px;
    right: 0;
    bottom: 135px;
    left: 0;
    display: block;
    content: '';
    background-color: #fbfbfb;

  }
}
.map-container {
  overflow: hidden;

  width: 100%;
  height: 635px;
  #gmap_canvas {
    width: 100%;
    height: 635px;
    img {
      max-width: none!important;

      background: none!important;
    }
  }
}


/**
 * add
 */

.footer-first-block {
  .container {
    background-color: #fff;
    .text-slogan {
      padding-top: 180px;
      padding-right: 0;
      padding-left: 0;
      h4 {
        font-size: 80px;
        font-weight: bold;
        width: 92%;
        display: inline-block;
        padding-left: 120px;
        color: #535657;
      }
      .text-slogan__top {
        font-size: 26px;
        display: block;
        color: #3d9dd5;
        text-shadow: 1px 1px 1px #3d9dd5;
            padding-top: 5px;
        .text-slogan__bottom{
          font-size: 21px;
          display: block;
              padding-top: 10px;
        }
      }
      .underslogan-text {
        font-size: 17px;
        width: 95%;
        padding-top: 20px;
        padding-left: 120px;

        color: #767676;
        text-shadow: none;
      }
        .row-our-clients {
          padding: 35px 160px;
          padding-top: 20;

          text-align: center;
          li {
            display: inline-block;

            width: 160px;
            padding-right: 35px;
          }
        }
      }
  }
}


.container-second {
  position: relative;

  width: 100%;
  height: 580px;
  margin: 0;
  padding: 0;

  background-image: url('../img/bg-2.png');
  background-position-x: center;
  background-size: cover;
  .row {
    margin: 0;
    padding: 0;
    h2 {
      font-size: 30px;
      font-weight: bold;

      position: absolute;
      top: 60px;
      right: 0;

      color: #3398d3;
      text-shadow: 1px 1px 1px #3d9dd5;
    }
    p {
      position: absolute;
      top: 120px;
      right: 50px;

      color: grey;
    }
    .mail-form {
      position: absolute;
      top: 150px;
      right: 0;

      padding-top: 20px;

      opacity: .9;
      .small-input {
        display: inline-block;

        width: 215px;
      }
      .big-input {
        height: 160px;
        padding-bottom: 130px;
      }
    }
    .send-massage {
      position: absolute;
      top: 455px;
      right: 104px;

      width: 330px;
      height: 45px;

      color: #fff;
      background-color: #5ca9d6;
    }
  }
}
.container-third {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;
  .row {
    margin: 0;
    padding: 0;
    .col-md-12 {
      margin: 0;
      padding: 0;
      .contacts {
        position: absolute;
        z-index: 1;
        top: 20%;
        left: 11%;

        width: 390px;
        height: 385px;

        text-align: center;

        opacity: .9;
        background-color: #47a8df;
        .phone {
          &:before {
            position: absolute;
            z-index: 1;
            top: 33%;
            right: 0;
            left: 14%;

            display: block;

            height: 33px;

            content: '';

            background-image: url('../img/telephone.png');
            background-repeat: no-repeat;
          }
        }
        .web-search {
          &:before {
            position: absolute;
            z-index: 1;
            top: 60%;
            right: 0;
            left: 14%;

            display: block;

            height: 33px;

            content: '';

            background-image: url('../img/web-search.png');
            background-repeat: no-repeat;
          }
        }
        .feedback {
          width: 225px;
          height: 47px;

          text-align: center;

          color: #47a8df;
          background-color: #fff;
          text-shadow: 1px 1px 1px #47a8df;
        }
        h3 {
          font-size: 40px;

          padding-top: 50px;
          padding-right: 85px;

          color: #fff;
        }
        p {
          font-size: 22px;

          text-align: center;

          color: #fff;
        }
        span {
          font-size: 15px;

          width: 85%;
          padding-left: 40px;

          text-align: left;
        }
      }
    }
    .top-line {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      width: 100%;
      min-height: 300px;
      margin: 0;
      padding: 0;

      background-image: linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,1));
      &:after {
        position: absolute;
        top: 25%;
        right: 0;
        left: 0;

        display: block;

        height: 10px;

        content: '';

        border-bottom: 1px solid #dcdcdb;
      }
    }
  }
  .last-block {
    z-index: 1;

    height: 215px;
    margin-top: 4px;

    background-color: #eee;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7); /* Параметры тени */
    .footer-image {
      height: 100%;

      text-align: right;
      img {
        padding-top: 25px;
      }
    }
    .footer-text {
      height: 100%;
      padding-top: 25px;

      text-align: left;

      color: #424242;
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 15px;

        width: 85%;

        text-align: justify;
      }
      span {
        color: #bababb;
      }
    }
  }
}
