// VARIABLES

$liteGreen: #91cd55;
$textBlue: #0b8dd7;
$textBlack: #3c3f41;

// BUTTON TEXT

.btn {
  font-size: 18px;
}
.btn-green {
  color: #fff;
  border-radius: 0;
  background-color: $liteGreen;
}

.blueText {
  color: $textBlue;
}

.greenText {
  color: $liteGreen;
}


.title-container {
  font-size: 10px;
}
.title-page-1,
.title-page-2,
.title-page-3 {
  font-size: 10px;

  padding-top: 50px;
  padding-bottom: 50px;
}

.subtitle {
  font-size: 25px;

  margin: 0;
  padding-top: 30px;
}

.end-page-text {
  font-size: 14px;

  padding-top: 20px;
  padding-bottom: 50px;
}



// HEADER
header {
  position: relative;

  padding-bottom: 5px;

  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  // header border bottom
  &:after {
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 0;

    display: block;

    height: 6px;

    content: '';

    background-image: url('../img/header-border.png');
    background-size: 100%;
  }
  .container {
    .head-logo-tel {
      padding-top: 50px;
      padding-bottom: 50px;
      .logo {
        width: 150px;
        margin-left: 20px;
      }
      .tel-content {
        text-align: right;
        .tel {
          font-size: 35px;
          font-weight: 300;

          margin: 0;
          padding: 0;

          color: $textBlack;
          &:hover {
            text-decoration: none;

            color: $textBlue - #444;
          }
        }
        .mail {
          font-size: 16px;

          margin: 0;
          padding: 0;

          text-decoration: underline;
          &:hover {
            text-decoration: none;

            color: $textBlue - #444;
          }
        }
        .btn-recall {
          font-size: 10px;

          margin: 0;
          padding: 4px 8px 4px 8px;
        }
      }
    }
    .title-container {
      width: 80%;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
      padding: 20px;

      text-align-last: justify;

      color: $textBlack;
      border-radius: 5px;
      background-color: rgba(255,255,255, .5);
      box-shadow: 0 2px 35px 0 rgba(0,0,0,.5);
      h3 {
        font-size: 4em;

        margin: 0;
      }
      h4 {
        font-size: 3.3em;

        margin: 0;
      }
    }
  }
  ul {
    display: block;

    width: 95%;
    margin: 0 auto 80px;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 16.6%;
      min-width: 110px;
      height: 180px;

      text-align: center;
      a {
        color: $textBlack;
        img {
          height: 60%;

          border-radius: 55px;
        }
        span {
          font-size: 15px;
          font-weight: 500;

          display: block;

          width: 100%;
          height: 30px;
        }
        &:hover {
          text-decoration: none;

          color: $textBlack - #888;
          img {
            background-color: rgba(0,0,0,.5);
          }
        }
      }
    }
  }
}


// ABOUT
.block-about {
  .container {
    padding-top: 70px;

    background-color: #fff;
    .row {
      h3 {
        font-size: 38px;
        font-weight: 700;
        line-height: .9;

        padding-top: 30px;
      }
      h4 {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

// PAGE1
.block-page-1 {
  background-image: url('../img/page1.png');
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding-top: 50px;
    .title-page-1 {
      h3 {
        font-size: 5em;
        font-weight: 800;
        line-height: .9;

        margin: 0;
      }
      h4 {
        font-size: 3.9em;
        font-weight: 700;
        line-height: .9;

        margin: 0;
      }
      h6 {
        font-size: 2.8em;
        line-height: .99;

        margin: 0;
      }
    }
  }
}

// PAGE2
.block-page-2 {
  background-image: url('../img/page2.png');
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding-top: 50px;
    .title-page-2 {
      h3 {
        font-size: 3.7em;
        font-weight: 800;
        line-height: .9;

        margin: 0;
      }
      h4 {
        font-size: 5em;
        font-weight: 800;
        line-height: .9;

        margin: 0;
      }
      h5 {
        font-size: 10em;
        font-weight: 800;
        line-height: .9;

        margin: 0;
      }
      h6 {
        font-size: 2.4em;

        margin: 0;
      }
    }
    .p2-list {
      width: 45%;
      margin: 10px;
      padding-top: 15px;
    }
  }
}



// PAGE3
.block-page-3 {
  background-image: url('../img/page3.png');
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    .title-page-3 {
      h3 {
        font-size: 4.4em;
        font-weight: 800;
        line-height: .9;

        margin: 0;
      }
      h4 {
        font-size: 3em;
        font-weight: 800;
        line-height: .9;

        margin: 0;
      }
      h6 {
        font-size: 2.4em;
        line-height: .99;

        margin: 0;
      }
    }
  }
}

// PAGE ICON
.page1-icon1 {
  position: relative;

  padding-right: 40%;

  background-image: url('../img/page1-icon1.png');
  background-repeat: no-repeat;
  background-position: 90% 35%;
  background-size: 30%, auto;
  &:before {
    font-size: 18px;

    position: absolute;
    top: 3px;
    left: 15px;

    display: block;

    width: 30px;
    height: 30px;

    content: '01';
    text-align: center;
    text-decoration: underline;

    color: #888;
  }
}
.page1-icon2 {
  position: relative;

  padding-left: 45%;

  background-image: url('../img/page1-icon2.png');
  background-repeat: no-repeat;
  background-position: 10% 35%;
  background-size: 30%, auto;
  &:before {
    font-size: 18px;

    position: absolute;
    top: 3px;
    left: 45%;

    display: block;

    width: 30px;
    height: 30px;

    content: '02';
    text-align: center;
    text-decoration: underline;

    color: #888;
  }
}
.page2-icon {
  position: relative;

  padding-right: 20%;

  background-image: url('../img/page2-icon.png');
  background-repeat: no-repeat;
  background-position: 90% 35%;
  background-size: 30%, auto;
  &:before {
    font-size: 18px;

    position: absolute;
    top: -5px;
    left: 15%;

    display: block;

    width: 30px;
    height: 30px;

    content: '03';
    text-align: center;
    text-decoration: underline;

    color: #888;
  }
}
.page3-icon1 {
  position: relative;

  padding-left: 45%;

  background-image: url('../img/page3-icon1.png');
  background-repeat: no-repeat;
  background-position: 10% 35%;
  background-size: 30%, auto;
  &:before {
    font-size: 18px;

    position: absolute;
    top: 3px;
    left: 44%;

    display: block;

    width: 30px;
    height: 30px;

    content: '04';
    text-align: center;
    text-decoration: underline;

    color: #888;
  }
}
.page3-icon2 {
  position: relative;

  padding-right: 30%;

  background-image: url('../img/page3-icon2.png');
  background-repeat: no-repeat;
  background-position: 90% 35%;
  background-size: 30%, auto;
  &:before {
    font-size: 18px;

    position: absolute;
    top: 3px;
    left: 15px;

    display: block;

    width: 30px;
    height: 30px;

    content: '05';
    text-align: center;
    text-decoration: underline;

    color: #888;
  }
}

// LIST DEKOR

.list-dekor {
  font-size: 18px;

  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  li {
    width: 100%;
    margin: 0;
    padding-left: 15px;
    &:before {
      position: absolute;
      top: 11px;
      left: 0;

      display: block;

      width: 6px;
      height: 2px;

      content: '';

      background-color: $textBlack;
    }
  }
}

// MEDIA

@media (max-width: 1180px) {
  .title-container {
    font-size: 8px;
  }
  .title-page-1,
  .title-page-2,
  .title-page-3 {
    font-size: 8px;

    padding-top: 0;
    padding-bottom: 30px;
  }

  .page3-icon2 {
    background-position: 90% 60%;
  }
  .block-page-2 .container .p2-list {
    width: 80%;
    margin: 10px;
    padding-top: 15px;
  }
}

@media (max-width: 992px) {

  .title-container {
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  .title-container {
    font-size: 6px;
  }
  .title-page-1,
  .title-page-2,
  .title-page-3 {
    font-size: 7px;

    padding-top: 10px;
    padding-bottom: 20px;
  }
  .page1-icon1,
  .page1-icon2,
  .page2-icon,
  .page3-icon1,
  .page3-icon2 {
    padding: 0;

    background-image: none;
    &:before {
      left: 15px;
    }
  }

  .block-page-2 .container .p2-list {
    width: 100%;
    margin: 10px;
    padding-top: 15px;
  }
}
