@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  background-color: $light-gray;
  .logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';


//        VARIABLES


$liteGreen: #91cd55;
$textBlue: #0b8dd7;

//          BUTTON

button {
  font-size: 15px;

  padding: 4px 8px 4px 8px;

  color: #fff;
  border-radius: 0;
  background-color: $liteGreen;
  a {
    color: #fff;
  }
}

//      HEADER
header {
  padding-bottom: 5px;
  .container {
    position: relative;

    background-image: url('../img/header.png');
    background-size: 100%;
    &:after {
      //header order bottom
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;

      display: block;

      height: 5px;

      content: '';

      background-image: url('../img/header-border.png');
      background-size: 100%;
    }
    .head-logo-tel {
      //height: 145px;
      margin-top: 55px;
      margin-left: 50px;
      .tel-content {
        text-align: right;
        a.tel {
          font-size: 35px;

          color: #000;
        }
        a.mail {
          font-size: 15px;

          text-decoration: underline;
        }
        a {
          button {
            font-size: 10px;

            padding: 4px 8px 4px 8px;

            color: #fff;
            border-radius: 0;
            background-color: $liteGreen;
          }
        }
      }
    }
    .title-container {
      margin-top: 2%;
      margin-right: 12%;
      margin-left: 15%;
      padding: 10px;

      text-align: center;

      border: 1px;
      //border-color: #000;
      border-radius: 5px;
      background-color: rgba(255,255,255, .5);
      box-shadow: 0 2px 35px 0 rgba(0,0,0,.5);
      h5 {
        font-size: 28px;

        margin: 0;
      }
      h6 {
        font-size: 23px;

        margin: 0;
      }
    }
  }
  ul {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 11%;
    li.header-nav-button {
      width: 120px;
      height: 100px;

      text-align: center;
      img {
        height: 60%;

        border-radius: 55px;
        //background-color: rgba(0,0,0,.5);
        //box-shadow: 0 7px 8px 1px rgba(0,0,0,.5);
      }
      span {
        font-size: 10px;

        display: block;

        width: 100%;
        height: 30px;

        color: #000;
      }
      &:hover {
        img {
          background-color: rgba(0,0,0,.5);
        }
      }
    }
  }
}


//        ABOUT
.block-second {
  .container {
    background-color: #fff;
    font {
      color: $liteGreen;
    }
  }
}

//        PAGE1
.block-page-1 {
  background-image: url('../img/page1.png');
  background-size: 100%;
  .container {
    .tittle-page-1 {
      h3 {
        font-size: 30px;
      }
    }
  }
}
@media (min-width: 768px) {
  .subrow-right-30 {
    padding-right: 40%;
  }
  .subrow-left-30 {
    padding-left: 45%;
  }
}

//        PAGE2
.block-page-2 {
  background-image: url('../img/page2.png');
  background-size: 100%;
  .container {
    .tittle-page-2 {
      h3 {
        font-size: 25px;

        margin: 0;
      }
      h4 {
        font-size: 35px;

        margin: 0;
      }
      h5 {
        font-size: 50px;
      }
      h6 {
        margin: 0;

        color: $textBlue;
      }
    }
    .row {
      ul {
        width: 45%;
        margin: 10px;
      }
    }
  }
}


//        PAGE3
.block-page-3 {
  background-image: url('../img/page2.png');
  background-size: 100%;
  .container {
    .tittle-page-3 {
      h3 {
        font-size: 35px;

        margin: 0;
      }
      h4 {
        font-size: 25px;

        margin: 0;
      }
      h5 {
        font-size: 25px;

        margin: 0;

        color: $textBlue;
      }
    }
    .row {
      ul {
        width: 45%;
        margin: 10px;
      }
    }
  }
}
